.regArea {
	/*	background-image: url('/leaf/images/leaf/common/clover_register.jpg'); */
	width: 100%;
	text-align: center;
	min-height: 500px;
}

.regArea .regBlock {
	background-color: #F1F1F1;
	margin: 0 auto;
	margin-top: 5%;
	margin-bottom: 5%;
	max-width: 400px;
	border: 1px solid #FFF;
	border-radius: 2em;
	text-align: left;
	padding: 2% 2%;
	margin-right: 15%;
		float:left;
}

.regArea .imgBlock{
	margin: 0 auto;
	margin-top: 15%;
	margin-bottom: 5%;
	margin-left: 15%;
	max-width: 30%;
		float:left;
	margin-right:5%	
}
.imgBlock img{
	width:100%;
}

label {
	font-weight: normal;
}

.register-form label,h3 {
	color: #888;
}

.register-title {
	padding-right:8%
}

.btn-success {
	width: 55%;
}

.register-form label.error {
	margin-left: 10px;
	width: auto;
	display: inline;
	color: #FF0000;
}

.verifyCode{
	padding-top:2px;
	width:92px;
	height: 25px;
}